form{
    display: block;
    margin-top: 0em;
    text-align: center;
    border: 1px solid wheat;
    background-color: yellowgreen;
    border-radius: 25px;
}
.back{
    display: block;
    margin-top: 0em;
    text-align: center;
    border: 1px solid wheat;
    background-color: yellowgreen;
    border-radius: 25px;
}
.result{
    position: absolute;
    top: 0%;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    background-color: orange;
    display: none;
}